#titulo{
    width: 40%;
    background-color: skyblue;
}

#mensaje{
    padding: 10px 10px;
    border: none;
    background-color: tomato;
}

#mostrarMensaje{
    width: 40%;
    background-color: yellowgreen;
}

#primerCambio{
    width: 40%;
    background-color: teal;
    color: #fff;
}

#mensajeDos{
    padding: 10px 10px;
    border: none;
    background-color: tomato;
}

#mostrarMensajeDos{
    width: 40%;
    background-color: yellowgreen;
}

#cambioGithub{
    width: 40%;
    background-color: green;
}

#cambioLocal{
    width: 40%;
    background-color: purple;
    color: #fff;
}
